.wrapper {
  padding: 20px;
  margin: 20px;
  overflow: auto;
  border: 1px solid #999;
  background: #eee;
}

header {
  float: left;
  width: 200px;
  padding: 20px;
  border: 1px solid #999;
  background: white;
}

header img {
  margin: 10px;
  float: left;
}

header p {
  font-size: 14px;
}

section {
  padding: 20px;
  margin-left: 265px;
  margin-right: 140px;
  border: 1px solid #999;
  background: white;
}


aside {
  width: 120px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
/*  margin-top: -420px;*/
  background: white;
  border: 1px solid #999;
}

aside .box1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

