* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #44565C;
}

.wrapper {
  width: 980px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

 .ife-link {
  float: left;
  width: 120px;
  background-color: #d45d5c;
  height: 60px;
   position: relative;
}

.ife-link p a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 12px;
  width: 100%;
  margin-left: 10px;
  position: absolute;
  top: 70%;
  bottom: 0;
}

.time {
  float: right;
  font-size: 12px;
  position: absolute;
  right: 8%;
  top: 2%;
  color: #d45d5c;
}

hr {
  margin-top: 0;
  margin-bottom: 40px;
}

.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    clear: both;
}

/***************************
      section 1
****************************/

.section1 {
  width: 100%;
  position: relative;
}

section .image-one {
  width: 66%;
  height: 100%;

}

.image-one img {
  width: 600px;
  height: 310px;
}

.image-one .image-one-1 {
  background-color: #155d02;
  width: 20%;
  height: 310px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.image-one .image-one-2 {
  background-color: #9e1111;
  width: 20%;
  height: 310px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 280px;
  bottom: 0;
  z-index: 1;
}

/***************************
      section 1 ~ aside 1
****************************/

aside .left-detail {
  width: 250px;
  position: absolute;
  top: 0;
  right: 0;
}

.hr-1 {
  border: 2px solid black;
  margin-bottom: 10px;
}


.left-detail h1 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.left-detail h1 a {
  color: black;
  font-weight: 500;
}
.left-detail h1 span {
  font-size: 24px;
  text-decoration-line: underline;
}
.left-detail p {
  font-size: 12px;
  color: #676767;
  margin-top: 0;
}

.seven-700 {
  color: #75b86b;;
  font-size: 100px;
  font-weight: 700;
  margin: 0 auto;
}


.num-32 {
  width: 100%;
  position: relative;
}
.num-32 .num-32-1 {
  font-size: 50px;
  color: #cc8091;
  margin-left: 20px;
  margin-right: 8px;
}

.num-32 .num-32-2 {
  color: #cc8091;
  font-size: 20px;
  position: absolute;
  top: 20px;
}

/***************************
      section 2
****************************/
.section2 {
  width: 67%;
  position: relative;
  margin-top: 30px;
}

.wwh {
  width: 38%;
}

.wwh h5 {
  font-size: 1em;
  color: #155d02;
  text-decoration: underline;
  margin-bottom: 0;
  margin-top: 0;
}

.wwh p {
  margin-top: 2px;
  font-size: 12px;
  color: #676767;
}

.when {
  margin: 0;
  position: absolute;
  top: 0;
  left: 42%;
  width: 35%
}

.when h5 {
  color: #d1dc37;
}

.how {
  position: absolute;
  top: 0;
  left: 80%;
  width: 19%;
}

.how h5 {
  color: #ef754f;
}

.how p {
  line-height: 2;
}

.how .www {
  color: #676767;
  font-size: 12px;
  line-height: 2;
}

.how .color {
  color: #ef754f;
  /*display: inline-block;*/
}

/***************************
      section 3
****************************/

.section3 {
  width: 100%;
}

.s3-div {
  margin-top: 0;
}

.article-1 {
  margin-top: 50px;
  width: 50%;
  float: left;
}

.s3-header h1 {
  font-size: 2em;
  padding-right: 40px;
  margin-bottom: 0;
}

.s3-em {
  color: #e4e827;
  font-size: 2.2em;
  margin-right: 10px;
}

.qian {
  font-size: 5.5em;
  float: left;
}

.hr-3 {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 0;
}

.s3-img {
  float: right;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.s3-p {
  font-size: 12px;
  color: #676767;
}

/*article 2*/

 .article-2 {
  float: right;
  width: 50%;
  margin-top: 60px;
  position: relative;
}

.article-2 .s3-right {
  position: absolute;
  top: 20px;
  left: 30px;
}

.s3-right img {
  opacity: 0.5;
  position: relative;
}

.s3-right .s3-img-text {
  position: absolute;
  top: 180px;
  left: 0;
  bottom: 0;
  font-size: 1.5em;
  color: white;
  background-color: rgb(49, 49, 41);
  width: 100%;
  height: 70px;
  padding-top: 10px;
  padding-left: 50px;
  opacity: 0.7
}

.s3-img-text .qianqian {
  border-left: 4px solid rgb(13, 191, 20);;
  padding-left: 10px;
}

.qianqian span {
  font-size: 14px;
  color: rgb(13, 191, 20);
  padding-left: 20px;
}

.s3-right-bottom {
  background-color: #c1e8e0;
  margin-top: 30px;
  height: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
}


.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #10456b;
  display: inline-block;
}

.s3-right-bottom p, .s3-right-bottom em {
  color: #676767;
  padding-left: 50px;
}

.s3-right-bottom p {
  line-height: 2;
}

.s3-right-bottom em {
  font-size: 14px;
}

.box {
  width: 55%;
  height: 160px;
  background-color: #da4e46;
  float: left;
}

.box span {
  font-size: 110px;
  color: white;
  padding: 0 10px;
  float: left;
}

.bottom-text  {
  width: 150px;
  border-left: 2px solid #ffffff;
  height: 86px;
  float: left;
  margin-top: 35px;
  margin-left: 0;
  font-family: cursive;
}


.bottom-text p, .bottom-text em {
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 17px;
  line-height: 20px
}

.bottom-text .s3-small {
  font-size: 12px;
  font-family: sans-serif;
}


.box2 {
  width: 45%;
  float: right;
}

.box2 p {
  font-size: 12px;
  padding: 10px;
  padding-left: 5px;
}

.box2 .mark1 {
  float: left;
  margin: -45px 5px 10px 0px;
  height: 40px;
  font-size: 72px;
  color: #da4e46;
}

.box2 .mark2 {
  float: right;
  margin: -40px 10px 0 -40px;
  height: 30px;
  font-size: 72px;
  color: #da4e46;
}

.footer-hr {
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  font-family: fantasy,monospace;;
}
